{% extends 'base.html' %}

{% block main %}
    <div class="welcome">
        <h1 class="title">ようこそlifelogへ！</h1>
        <p class="subtitle">あなたの生活を記録しましょう</p>
    </div>

    {% if lifelog %}
    <table class="table">
        <thead>
            <tr>
                <th>開始日時</th>
                <th>終了日時</th>
                <th>イベント</th>
            </tr>
        </thead>
        <tbody>
            {% for log in lifelog %}
            <tr>
                <th>{{ log.staDate }}</th>
                <th>{{ log.endDate }}</th>
                <th>{{ log.event }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>no lifelog posted</p>
    {% endif %}
{% endblock %}