{% load static %}
{% load django_bootstrap5 %}

<html>
    <head>
        <meta charset="utf-8">
        <title>lifelog</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'lifelog/css/style.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        {% block extraheader %}{% endblock extraheader %}
    </head>
    <body>
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navber-brand">lifelog</a>
                <ul class='navbar-nav mr-md-2'>
                    {% if user.is_authenticated %}
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'password' %}">{{ user.email }}</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'logout' %}">ログアウト</a>
                        </li>
                    {% else %}
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'login' %}">ログイン</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'signup' %}">会員登録</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block main %}{% endblock main %}
            </div>
        </main>
        
        <!-- Vue & BootstrapVue -->
        <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!-- axios -->
        <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
        {% block script %}{% endblock script %}
    </body>
</html>